$orange: #f9a357;
$titleColor: $orange;

$h3Color:#9c9c9e;

$white: white;
$imgBackground: $white;

$gray: #e0e1e2;
$background: $gray;

$lightGray: #a9adad;
$timeColor: $lightGray;

$borderColor: $lightGray;