$blue:#4298f4;
$titleColor: $blue;

$h3Color:$blue;

$gray: #e0e1e2;
$imgBackground: $gray;

$white: white;
$background:$white;

$greenBlue: #009682;
$timeColor: $greenBlue;

$darkGrey: #aeaeaf;
$borderColor: $darkGrey;